
body {
   
    direction: rtl;
    margin: 0;
    background-color: #f4f7f9;
}

.container {
    display: flex;
}

.content {
    flex-grow: 1;
    padding: 100px 40px 40px 40px;
}

.content h2 {
    background: #EBEBEB;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

form {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    margin-top: 20px;
}

form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="file"],
form select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

form input[type="checkbox"] {
    margin-left: 10px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

button {
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background-color: #D5EAF0;
    font-weight: bold;
    cursor: pointer;
}

button.cancel {
    background-color: #F8D7DA;
    color: red;
}
