{% extends 'base.html' %}
{% block addproject %}
{% load static %}
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'AppOfDocuments/css/add_project_style.css' %}" type="text/css">
</head>
<body>
  <div class="main">
    <div class="content">
      <h2>اضافة مشروع تخرج</h2>
      <a onclick="window.location.href='/documents/manageproject/'"><button style="margin: 10px;">
        عرض المشاريع
      </button></a>
      <form id="projectForm" class="user-form">
        {% csrf_token %}
        <input type="text" id="project_name" name="project_name" placeholder="عنوان المشروع">
        <input type="number" id="students_count" name="students_count" placeholder="عدد الطلاب">
        <textarea id="group_names" name="group_names" placeholder="اسماء الطلاب (افصل بينهم بفواصل)"></textarea>
        <input type="text" id="supervisor_name" name="supervisor_name" placeholder="اسم المشرف">
        <input type="date" id="delivery_date" name="delivery_date" placeholder="تاريخ التسليم">
        <div class="footer-buttons">
          <button type="submit">حـفـظ</button>
          <button type="button" class="cancel" onclick="window.location.href='/'">إلغاء</button>
        </div>
      </form>
    </div>
  </div>

  <script src="{% static 'AppOfDocuments/js/add_project.js' %}"></script>
</body>
{% endblock addproject %}