{% extends 'baseSetting.html' %}

{% block change_password %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>تغيير كلمة المرور</title>
    <!-- <link rel="stylesheet" href="change password style.css"> -->
    <link rel="stylesheet" href="{% static 'AppSettings/css/change password style.css'%}">
    <link rel="stylesheet" href="{% static 'AppSettings/css/button.css'%}">

</head>
<body>
    <div class="container">
        <h2 class="title">تغيير كلمة المرور</h2>
        <div class="form-box">
            <input type="password" id="current-password" placeholder="كلمة المرور الحالية">
            <input type="password" id="new-password" placeholder="ادخل كلمة المرور الجديد">
            <input type="password" id="confirm-password" placeholder="اعد كتابة كلمة المرور الجديد">
        </div>
        <div class="buttons">
            
            <button class="button" onclick="savePassword()">حفظ</button>
            <button class="button cancel" onclick="resetForm()">إلغاء</button>

        </div>
    </div>
    <!-- <script src="change password.js"></script> -->
    <script src="{% static 'AppSettings/js/change password.js' %}"></script>
</body>
{% endblock change_password %}
